html {
  height: 100%;
  background-color: none;
}

.App {
  text-align: center;
  background-color: none;
}

.App-title {
  margin: 30px 0 20px 0;
}


.App p {
  font-size: 40px;
  color: white;
  font-family: 'Muli', sans-serif;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* <form> - wrapper */
#getArtist {
  height: 90px;
  background-color: none;
}

.effect-1 {
  border: 0; 
  padding: 7px 0; 
  border-bottom: 1px solid #000000;
  background-color: rgba(255, 255, 255, 0.00);
  color: white;
}
.effect-1 ~ .focus-border{
  position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 0; 
  height: 2px; 
  background-color: #FFFFFF; 
  transition: 0.4s;}
.effect-1:focus ~ .focus-border
{width: 100%; 
  transition: 0.4s;}

/* <div> */
.input-group-wrap {
position: relative;
width: 200px;
margin: auto;
display: inline-block;
}

.input-field {
  display: inline-block;
font: 24px/32px 'Muli', 
sans-serif;
text-align: center;
color: #FFFFFF; 
width: 100%; 
box-sizing: border-box; 
letter-spacing: 1px;}
  
:focus{outline: none;}


.button__holder{
  margin-top: 10px;
  position: relative;
  width: 50px;
  height: 100%;
  display: inline-block;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
}

.button_holder:after{
      content: "";
      position: absolute;
      z-index: 0;
      top: 0; right: 0; bottom: 0; left: 0;
      background: black;
}

.button_holder h2{
      margin-right: 1em;
      text-align: center;
      color: #8A3B58;
}

.plus{
  position: relative;
  z-index: 1;
  width: 60px;
  height: 60px;
  color: #FFFFFF;
  font: 'Muli', sans-serif;
  background: #ed1c5b;
  border-radius: 50%;
  border: none;
  transition: box-shadow 400ms cubic-bezier(.2,0,.7,1), transform 200ms cubic-bezier(.2,0,.7,1);
}
.plus:after{
      font-size: 2.5em;
      line-height: 1.1em;
}
.plus:hover{
      transform: rotate(45deg);
      box-shadow: 0 0 1px 15px rgba(#8A3B58, 0.4),
      0 0 1px 30px rgba(#8A3B58, 0.1),
      0 0 1px 45px rgba(#8A3B58, 0.1);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.8; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
