.ArtistBox {
    display: grid;
    margin:auto;
    padding: 20px 100px;
    grid-template-columns: 0.9fr 3fr 1fr;
    grid-template-rows: auto;
    background-color: none;
}

.grid-item {
    margin: 0 5px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.37);
    box-shadow: 0 0 5px rgba(0,0,0,0.6); 
    font: 'Muli', sans-serif;
}

.MainArtistBox {

}

.RelArtistList {
    
}

.search-list h4 {
font: 'Muli', sans-serif;
}

.main-artist-img {
    height: 300px;
}
.main-artist-title {
font: 'Muli', sans-serif;
}
.play-button {
    border: none;
    background-color: white;
    display: inline-block;
}
.play-button img {
    height: 35px;
}
.main-artist-song {
    display: inline;    
    font: 'Muli', sans-serif;
}

/* Related artist Box */
.RelArtistBox {
    margin:auto;
    padding: 5% 0 0 5%;
}

.rel-artist-img {
    height: 120px;
}
.rel-artist-title {
    font: 'Muli', sans-serif;
}
.play-button {
    border: none;
    background-color: white;
    display: inline-block;
}
.play-button img {
    height: 35px;
}
.rel-artist-song {
    display: inline;
    font: 'Muli', sans-serif;    
}